<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_DIR" value="${LOG_DIR:-/app/logs}"/>
    <property name="LOG_FILE" value="${LOG_DIR}/app-server.json"/>
    <property name="JSON_PATTERN"
              value="{&quot;timestamp&quot;:&quot;%date{ISO8601}&quot;,&quot;level&quot;:&quot;%level&quot;,&quot;traceId&quot;:&quot;%X{traceId:-}&quot;,&quot;spanId&quot;:&quot;%X{spanId:-}&quot;,&quot;userId&quot;:&quot;%X{userId:-}&quot;,&quot;thread&quot;:&quot;%thread&quot;,&quot;logger&quot;:&quot;%logger{36}&quot;,&quot;message&quot;:&quot;%replace(%msg){'&quot;','\\&quot;'}&quot;,&quot;exception&quot;:&quot;%replace(%ex{5}){'[\r\n]+',' | '}&quot;}%n"/>
    <property name="CONSOLE_PATTERN"
              value="${JSON_PATTERN}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <encoder>
            <pattern>${JSON_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/app-server.%d{yyyy-MM-dd}.%i.json.gz</fileNamePattern>
            <maxFileSize>${LOG_MAX_FILE_SIZE:-100MB}</maxFileSize>
            <maxHistory>${LOG_MAX_HISTORY:-7}</maxHistory>
            <totalSizeCap>${LOG_TOTAL_SIZE_CAP:-1GB}</totalSizeCap>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
